.skeleton {
  @apply relative overflow-hidden [--sk-color:#e2e8f0] dark:[--sk-color:#475569];
}

.skeleton.animate-wave:after {
  @apply absolute inset-0 content-empty;
  background: linear-gradient(90deg, transparent, var(--sk-color), transparent);
  animation: skeleton-wave 1.5s ease-in-out 0.5s infinite;
}

@keyframes skeleton-wave {
  0% {
    transform: translateX(-100%);
  }
  50%,
  100% {
    transform: translateX(100%);
  }
}
