.spinner {
  @apply inline-block h-8 w-8 border-4 rounded-full;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* color */
.spinner-primary {
  @apply border-primary border-l-transparent;
}
.spinner-secondary {
  @apply border-secondary border-l-transparent;
}
.spinner-info {
  @apply border-info border-l-transparent;
}
.spinner-success {
  @apply border-success border-l-transparent;
}
.spinner-warning {
  @apply border-warning border-l-transparent;
}
.spinner-danger {
  @apply border-danger border-l-transparent;
}

/* size */
.spinner-xs {
  @apply w-4 h-4;
}
.spinner-sm {
  @apply w-6 h-6;
}
.spinner-md {
  @apply w-8 h-8;
}
.spinner-lg {
  @apply w-10 h-10;
}
.spinner-xl {
  @apply w-12 h-12;
}
.spinner-2xl {
  @apply w-14 h-14;
}
